{
    "env": {
        "browser": false,
        "node": true
    },
    "globals": {
        "Promise": true
    },
    "rules": {
        "no-use-before-define": "nofunc",
        "no-loop-func": 2,
        "no-shadow": false,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-unused-vars": 1,
        "strict": [2, "never"],
        "space-before-blocks": "always",
        "space-after-keywords": "always",
        "semi": 2,
        "quotes": [2, "single"],
        "indent": [2, 2, {indentSwitchCase: true}],
        "eol-last": 2,
        "max-len": [2, 120, 2]
    }

}